/* Poppins Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* ================ */
/* -----Common Styles----- */
/* ================ */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

:root{
    --primary-color: #E02C6D;
    --secondary-color: #3A3A3A;
    --text-color: #787885;
    --white-color: #ffffff;
    --font-size: 1.75rem;
}

body{
    font-family: 'Poppins', sans-serif;
}

h2{
    color: var(--secondary-color);
    font-size: var(--font-size);
    font-weight: 600;
    line-height: 4.375rem;
}

p{
    color: var(--text-color);
    font-weight: 600;
}

.section-gap{
    margin: 2.5rem 0;
}

/* Button Design */
.btn-primary{
    border-radius: 2.563rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    border: 0;
    padding: 0.625rem 1.5rem;
}

.btn-secondary{
    background: var(--primary-color);
    color: #FFF;
    font-family: Poppins;
    font-weight: 700;
    border: 0;
    padding: 0.625rem 1.5rem;
}

/* ================= */
/* -----Header Styles----- */
/* ================ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.menu ul a{
    text-decoration: none;
    color: var(--secondary-color);
}

.menu ul img{
    width: 100%;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.hero-title{
    color: var(--secondary-color);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.hero-description{
    margin: 1rem 0rem;
}

.hero-img{
    background-image: url('../img/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img:hover{
    transform: rotate(20deg);
    transition: 2s;
}

/* ========================*/
/* -----Popular-Collection Styles----- */
/* ================ =======*/
.popular-title{
    font-weight: 600;
    line-height: 70px; /* 250% */
    text-align: center;
}

.popular-collection{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 2rem;
}
.card img{
    width: 18.75rem;
    height: 16rem;
}
.card-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}
.card-description{
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    margin-top: 0.625rem;
}

.see-more{
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}

/* ========================*/
/* -----One Place Styles----- */
/* ================ =======*/
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.features-title{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 3.75rem;
}

.features-description{
    margin: 1rem 0rem;
    width: 31.25rem;
}



/* -----Responsive  Styles----- */
/* ================ */
@media screen and (max-width: 570px) {
    nav,
    .hero-section,
    {
        display: flex;
        flex-direction: column;
    }
}

