/* Poppins Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* ================ */
/* -----Common Styles----- */
/* ================ */
*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

:root{
    --primary-color: #E02C6D;
    --secondary-color: #3A3A3A;
    --text-color: #787885;
    --white-color: #ffffff;
    --font-size: 1.75rem;
}

body{
    font-family: 'Poppins', sans-serif;
}

h2{
    color: var(--secondary-color);
    font-size: var(--font-size);
    font-weight: 600;
    line-height: 4.375rem;
}

p{
    color: var(--text-color);
    font-weight: 600;
}

.section-gap{
    margin: 2.5rem 0;
}

/* Button Design */
.btn-primary{
    border-radius: 2.563rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    border: 0;
    padding: 0.625rem 1.5rem;
}

/* ================= */
/* -----Header Styles----- */
/* ================ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.menu ul a{
    text-decoration: none;
    color: var(--secondary-color);
}

.menu ul img{
    width: 100%;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.hero-title{
    color: var(--secondary-color);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.hero-description{
    margin: 1rem 0rem;
}

.hero-img{
    background-image: url('../img/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img:hover{
    transform: rotate(20deg);
    transition: 2s;
}